.heatmap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
}

.heatmap2 {
    clip-path: inset(40% 0 10% 0);
    transform: translateY(-40%);
}

.heatmap svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.contenedor {
    width: 25%;
    margin-top: 100px;
}

.imagenS {
    width: 100%;
    height: auto;
}